.tooltip {
    text-decoration: underline;
    color: darkblue;
    position: relative;
    display: inline-block;
}

.tooltipText {
    position: absolute;
    text-align: center;
    top: 100%;
    display: block;
    background-color: cadetblue;
    color: black;
    border: solid black 1px;
    z-index: 1;
}
